<div class="navbar-links">
    <a href="https://arduinoexchange.xyz/"><i class="fa-solid fa-arrow-right-to-bracket"></i> Back to main site</a>
    <a href="/">Home</a>
    <a href="programming-lang/">Programming languages</a>
    <a href="challenges/">Exercises/Challenges</a>
    <a href="https://forum.arduinoexchange.xyz">Forum</a>      
    <a href="references/">References</a>
  </div>
  <div class="navbar-icons">
    <a href="https://discord.gg/9y7Uc4kxgh"><i class="fa-brands fa-discord"></i></a>
    <a href="https://www.reddit.com/r/Arduino_exchange/"><i class="fa-brands fa-reddit"></i></a>
    <a href="https://github.com/Arduino-Exchange"><i class="fa-brands fa-github"></i></a>
    <a href="https://twitter.com/ArduinoExchange"><i class="fa-brands fa-twitter"></i></a>
  </div>